.sign-in-container {
    width: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.sign-in-container .sign-in-header {
    width: 100%;
    height: 100px;
    background: url('../../images/sign-in-header.jpeg');
    background-position: 0 -100px;
}

.sign-in-container .sign-in-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sign-in-container .sign-in-form {
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(158, 158, 158);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    margin-bottom: 10px;
}

.sign-in-container .sign-in-form .sign-in-form-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(158, 158, 158);
    padding: 10px;
    margin: 10px 0;
    outline-color: rgb(158, 158, 158);
}

.sign-in-container .sign-in-form .sign-in-form-button {
    width: 100%;
    border: 1px solid #9e9e9e;
    padding: 10px;
    margin: 10px 0;
    outline-color: rgb(158, 158, 158);
    font-size: 1.4rem;
    transition: all 0.5s ease;
}

.sign-in-container .sign-in-form .not-disabled:hover {
    cursor: pointer;
    color: #E03E49;
    border: 1px solid #E03E49;
    transition: all 0.5s ease;
}

.sign-in-container .sign-in-form .sign-in-form-input::placeholder {
    color: rgb(158, 158, 158);
    font-size: 1.4rem;
}