.jobs-container {
  height: 1000px;
}

.search-categories-container {
  display: flex;
  justify-content: space-between;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  width: 65%;
  height: 50px;
}

.categories h5 {
  margin: 0 2% 0 2%;
  font-size: 1.5rem;
}

.search-bar {
  width: 30%;
}

.search-bar .search-input {
  height: 50px;
  font-size: 1.5rem;
  width: 100%;
}

.header {
  display: flex;
}

.header .left-side {
  background-color: #e82f3a;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.header .left-side h2 {
  font-size: 7rem;
  color: white;
  margin: 5% 0 0 5%;
  font-family: Merriweather;
  font-weight: 900;
  text-align: left;
  line-height: 1.2;
}

.header .left-side h4 {
  font-size: 3rem;
  color: white;
  margin: 2% 0 0 5%;
  font-family: Merriweather;
  font-weight: 400;
  text-align: left;
  line-height: 1.4;
}

.header .left-side p {
  color: white;
  font-family: Merriweather;
  font-weight: 400;
  font-size: 1.4rem;
  margin-top: 50px;
}

.header .left-side p span a {
  font-family: Merriweather;
  font-weight: 900;
  text-decoration: none;
  color: white;
}

.header .left-side p span:hover {
  font-family: Merriweather;
  font-weight: 900;
  text-decoration: underline;
}

.header .right-side {
  width: 50%;
}

.header .right-side img {
  width: 100%;
  height: 100%;
}
