//Once I figure out how to import the file variable mix-ins remove these hardcoded variables

//Text Color
$white: white;
$dark: #646464;

//NavBar Background:
$Navbar: #444444;

//Background:
$background: #f5f5f5;

//Accent Colors
$orange: #e89980;
$teal: #7fcdb8;
$blue: #90b0ba;
$yellow: #e5cb95;
$light-gray: #cecece;

//This needs to be removed when working on tablet
$break-small: 645px;

.strikethrough {
	text-decoration: line-through;
}

//Header
.billing-contaner {
	.header {
		.main-header {
			.billing-header {
				font-size: 2.8rem;
				margin-bottom: 20px;
			}
		}
		.sub-header {
			display: flex;
			justify-content: center;

			.billing-subheader {
				font-size: 1.8rem;
				margin-bottom: 12px;

				.gotcha {
					color: red;
				}
			}
		}
	}
}

// Parent for all card and purchase container
.checkout {
	display: flex;
	padding: 20px;
	border-radius: 50px;
	width: 100%;
	background: #{$white};
	//   justify-content: space-evenly;

	.left-side {
		border: 1px solid red;
		// Purchase options starts
		.purchase-options {
			display: flex;
			flex-direction: column;
			@media screen and (max-width: $break-small) {
				align-items: center;
				padding: 10px;
			}

			.options {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				margin: 25px;
				padding: 25px;

				@media screen and (max-width: $break-small) {
					align-items: center;
				}

				label {
					font-size: 1.6rem;
					padding: 5px;
					margin: 5px;
				}
			}
		}

		// Card Info begins
		.card-info {
			display: flex;
			flex-direction: column;
			width: 55%;
			margin: 25px;
			padding: 36px;
			@media screen and (max-width: $break-small) {
				width: 100%;
				margin-top: 0px;
				align-items: center;
			}

			.card-info-labels {
				display: flex;
				font-size: 1.6rem;
				padding-top: 20px;

				.card-info-placeholder-cnum {
					font-size: 1.4rem;
				}
			}

			.card-info-placeholder-exp {
				font-size: 1.4rem;
			}

			.card-info-placeholder-cvc {
				font-size: 1.4rem;
			}

			.button-section {
				display: flex;
				justify-content: space-between;

				.purchase-button {
					margin: 20px;
					background: $blue;
					padding: 10px 20px;
					font-size: 1.6rem;
					color: $white;
					border: none;
					border-radius: 10px;
					cursor: pointer;
				}

				.cancel-button {
					margin: 20px 0px;
					background: $orange;
					padding: 10px 20px;
					font-size: 1.6rem;
					color: $white;
					border: none;
					border-radius: 10px;
					cursor: pointer;
				}
			}

			.powered-by-stripe {
				align-self: center;
				margin: 10px;
			}
		}
	}

	.right-side {
		border: 1px solid blue;

		//Balance of job credits
		.balance-container {
			display: flex;
			font-size: 1.6em;
			justify-content: flex-end;
			margin: 25px;
			padding: 25px;
		}

		//Jobs Purchased Postings
		.billing-jobs {
			width: 100%;
			display: flex;
			flex-direction: row;
			margin: 88px;

			.job-links h3 {
				display: flex;
				margin: 0 10%;
				font-size: 2rem;

				.billing-job {
					font-size: 2rem;
					padding-right: 3%;
					width: 80%;
				}

				@media screen and (max-width: $break-small) {
					flex-direction: row;
					justify-content: center;
				}
			}
			.job-links a {
				width: 30%;
				display: flex;
				justify-content: start;
			}
		}
	}
}
