/* ==========Navbar========== */

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: gray;
  height: 70px;
}

.navbar-navigation {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */ /* CONNECTED WITH BELOW*/
  height: 100%;
  padding: 0 1%;
}

.navbar-logo {
  margin-left: 1%;
  width: 100%;
  text-align: left;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 4rem;
}

.navbar-navigation-items {
  width: 100%; /* HERE (15min of video) */
}

.navbar-navigation-items {
  font-size: 1.5rem;
  margin-left: 2%;
  display: flex;
}

.navbar-navigation-items a {
  color: white;
  text-decoration: none;
  padding: 10px 1%;
  margin: 0 2%;
  background-color: #e82f3a;
  border-radius: 2px;
}

.navbar-navigation-items a:hover,
.navbar-navigation-items a:active {
  background-color: black;
}

/* ==========Toggle Button========== */

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 30px;
  height: 2px;
  background-color: white;
}

/* ==========Side Menu========== */

.side-menu {
  height: 100%;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.open {
  height: 100%;
  background-color: #d3d3d3;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  z-index: 200;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.side-menu-navigation-items {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  flex-wrap: wrap;
}

.side-menu-navigation-items a {
  width: 100%;
  padding: 30px 0;
  color: black;
  text-decoration: none;
  background-color: #d3d3d3;
  border-bottom: 1px solid #7a7a7a;
  font-size: 2rem;
  text-align: center;
}

.side-menu-navigation-items a:hover,
.side-menu-navigation-items a:active {
  color: #e82f3a;
  background-color: #afafaf;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  top: 0;
  left: 0;
}
