.nav-bar {
  display: flex;
  border: 1px solid blue;
  justify-content: space-between;
  align-items: center;
}

.nav-bar a {
  background: pink;
  text-decoration: none;
  color: black;
  border-radius: 3%;
}

.nav-bar .logo h1 {
}

.employer-login-container {
  display: flex;
  justify-content: end;
}

.employer-login {
  border: 1px solid red;
}

.employer-login h3 {
  font-size: 2rem;
}
