.nav-bar {
  display: flex;
  border: 1px solid blue;
  justify-content: space-between;
  align-items: center;
  background: gray;
}

.nav-bar .logo {
  background-color: pink;
  text-decoration: none;
  color: black;
  border-radius: 3%;
}

.nav-bar .logo h1 {
}

.employer-login-container {
  width: 20%;
  background-color: blue;
  border-radius: 40px;
}

.employer-login-container h3 {
  font-size: 2rem;
}

.login-buttons-container {
  display: flex;
  justify-content: space-evenly;
}

.employer-login button {
}
