.change-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px;
  z-index: 1000;
  background-color: $modal-bg;

  @include phone {
    padding: 10px;
  }

  @media screen and (max-height: 500px) {
    align-items: flex-start;
  }

  .change-password-card {
    background: rgba(245, 245, 245, 0.9);
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
    // margin: 20px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    .close-button {
      position: absolute;
      top: 5px;
      right: 15px;
      z-index: 2000;
      font-size: 3rem;
      color: $dark;
      transition: all 0.4s ease;

      &:hover {
        cursor: pointer;
        color: $orange;
        transition: all 0.4s ease;
      }
    }

    h2 {
      font-size: 3.6rem;
      width: 100%;
      margin-bottom: 15px;
    }

    h4 {
      font-size: 2rem;
      width: 100%;
    }

    .header-divider {
      width: 100%;
      height: 4px;
      background: $auth-divider;
      margin: 15px 0;
    }

    .change-password-form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;

      input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
        font-size: 1.8rem;
        color: $dark;
        outline-color: $blue;

        &::placeholder {
          color: $light-gray;
        }
      }

      .match {
        color: $teal;
      }

      .noMatch {
        color: $orange;
      }

      .change-password-error {
        display: block;
        width: 100%;
        font-size: 1.4rem;
        margin: 5px 0;
        text-align: center;
      }

      .button-container {
        width: 100%;
        display: flex;

        .change-password-button {
          margin-top: 10px;
          padding: 10px;
          color: $white;
          width: 100%;
          border-radius: 5px;
          border: none;
          font-size: 1.8rem;
          outline-color: $blue;
        }

        .save-button {
          background: $disabled-orange;
          transition: all 0.4s ease;
        }

        .active {
          background: $auth-submit-bg;
          transition: all 0.4s ease;

          &:hover {
            cursor: pointer;
            background: $auth-submit-bg-hover;
            transition: all 0.4s ease;
          }
        }

        .cancel-button {
          background: $blue;
          margin-left: 10px;
          transition: all 0.4s ease;

          &:hover {
            background: $dark-blue;
            transition: all 0.4s ease;
            cursor: pointer;
          }
        }
      }
    }
  }
}
