.new-profile-view {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px;
  z-index: 1000;
  background-color: $modal-bg;

  @include phone {
    padding: 10px;
  }

  .new-profile-container {
    background: rgba(245, 245, 245, 0.9);
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
    // margin: 20px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    .close-button {
      position: absolute;
      top: 5px;
      right: 15px;
      z-index: 2000;
      font-size: 3rem;
      color: $dark;
      transition: all 0.5s ease;

      &:hover {
        cursor: pointer;
        color: $orange;
        transition: all 0.5s ease;
      }
    }

    h2 {
      font-size: 3.6rem;
      width: 100%;
      margin-bottom: 15px;
    }

    h4 {
      font-size: 2rem;
      width: 100%;
    }

    .header-divider {
      width: 100%;
      height: 4px;
      background: $auth-divider;
      margin: 15px 0;
    }

    .profile-pic-button {
      padding: 30px;
      margin: 10px;
      color: $light-gray;
      background: white;
      cursor: pointer;
      font-size: 1.8rem;
      border-radius: 50%;
      height: 200px;
      max-height: 100%;
      width: 200px;
      max-width: 100%;
      border: none;
      position: relative;
      outline: none;

      &:focus {
        box-shadow: 0 0 2px 2px $blue;
      }

      span {
        display: block;
      }

      .optional {
        font-size: 1.2rem;
      }
    }

    .profile-pic {
      height: 200px;
      max-height: 100%;
      width: 200px;
      max-width: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: none;
    }
  }

  .new-user-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    .required-field {
      font-size: 1.6rem;
      color: white;
    }

    input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: none;
      border-radius: 5px;
      font-size: 1.8rem;
      color: $dark;
      outline-color: $blue;

      &::placeholder {
        color: $light-gray;
      }
    }

    textarea {
      font-family: Roboto, sans-serif;
      width: 100%;
      min-height: 30px;
      height: 150px;
      border-radius: 5px;
      border: none;
      padding: 10px;
      text-align: top;
      font-size: 1.8rem;
      margin: 10px 0;
      resize: none;
      color: $dark;
      outline-color: $blue;

      &::placeholder {
        color: $light-gray;
        font-family: Roboto, sans-serif;
      }
    }

    .button-container {
      width: 100%;
      display: flex;

      .new-profile-button {
        margin-top: 10px;
        padding: 10px;
        color: $white;
        width: 100%;
        border-radius: 5px;
        border: none;
        font-size: 1.8rem;
        outline-color: $blue;
      }

      .save-button {
        background: $orange;
        margin-right: 10px;
        transition: all 0.5s ease;

        &:hover {
          background: $dark-orange;
          transition: all 0.5s ease;
          cursor: pointer;
        }
      }

      .cancel-button {
        background: $blue;
        margin-left: 10px;
        transition: all 0.5s ease;

        &:hover {
          background: $dark-blue;
          transition: all 0.5s ease;
          cursor: pointer;
        }
      }
    }
  }
}
