.profile-container {
  max-width: 1024px;
  margin: auto;
  background-color: #{$background};
  padding: 30px 0;

  .companyInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .pic-account {
      width: 50rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include tablet {
        width: 90%;
      }
    }
    .border {
      border-bottom: 4px solid #{$blue};
      width: 100%;
      margin: 15px 0;
    }
    .pic-account h1 {
      font-size: 5rem;
      color: #{$dark};

      @include tablet {
        font-size: 4rem;
      }
    }

    .avatar {
      border-radius: 50%;
      margin-bottom: 15px;
    }

    .all-company-info {
      background-color: white;
      width: 100%;
      border-radius: 20px;
      display: flex;
      flex-direction: row;
      padding: 10px 40px 40px 40px;
      margin: 40px 0;

      .company-text {
        width: 49%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
          width: 100%;
        }
      }

      .company-text p {
        background-color: #{$background};
        width: 100%;
        border-radius: 5px;
        font-size: 1.8rem;
        text-align: start;
        padding: 10px;
        color: #{$dark};
      }

      label {
        padding: 30px 0 7px 10px;
        font-weight: bold;
        font-size: 2rem;
        width: 100%;
        text-align: left;
        color: #{$dark};
      }

      .company-border {
        border: 4px solid #{$background};
        margin: 0px 40px;
      }

      input {
        width: 100%;
        border-radius: 5px;
        font-size: 1.8rem;
        text-align: start;
        padding: 10px;
        color: #{$light-gray};

        &:focus {
          outline-color: #{$blue};
          color: #{$dark};
        }
      }

      textarea {
        width: 100%;
        border-radius: 5px;
        font-size: 1.8rem;
        text-align: start;
        padding: 10px;
        font-family: "Roboto", sans-serif;
        color: #{$light-gray};

        &:focus {
          outline-color: #{$blue};
          color: #{$dark};
        }
      }

      .btns-save-cancel {
        margin: 50px 10px 0 10px;
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 1.6rem;
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .save {
          width: 45%;
          background-color: #{$auth-submit-bg};

          &:hover {
            background-color: #{$auth-submit-bg-hover};
          }
        }
        .cancel {
          width: 45%;
          background-color: #{$Navbar};
        }
      }

      @include tablet {
        flex-direction: column;
        align-items: center;
      }
    }
    .profile-pic-button {
      border-radius: 50%;
      padding: 100px 80px;
      border: none;
      cursor: pointer;
    }
  }

  .edit-btn {
    padding: 10px 5rem;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .edit {
    background-color: #{$blue};
  }

  .menu-pass-bill {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 2rem;
    padding: 0 1%;

    .link-pass {
      @include tablet {
        text-align: end;
      }
    }

    .link-bill {
      @include tablet {
        text-align: start;
        padding: 0 3%;
      }
    }

    a {
      color: #{$blue};
      width: 20rem;
      text-align: end;
    }

    @include tablet {
      justify-content: space-between;
    }
  }
}
