.profile-container {
  max-width: 1024px;
  margin: auto;
  background-color: #{$background};
  padding: 40px;

  .companyInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .pic-account {
      width: 50rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .border {
      border-bottom: 4px solid #{$blue};
      width: 100%;
      margin: 15px 0;
    }
    .pic-account h1 {
      font-size: 5rem;
    }

    .avatar {
      border-radius: 50%;
      margin-bottom: 15px;
    }

    .all-company-info {
      background-color: white;
      width: 95%;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      padding: 10px 10px 40px 10px;
      margin: 15px 0;

      .company-text {
        width: 49%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .company-text p {
        background-color: #{$background};
        width: 100%;
        border-radius: 5px;
        font-size: 1.8rem;
        text-align: start;
        padding: 10px 3%;
      }

      label {
        padding: 30px 0 7px 10px;
        font-weight: bold;
        font-size: 2rem;
        width: 100%;
        text-align: left;
      }

      .company-border {
        border: 4px solid #{$background};
        margin: 10px 10px;
      }

      input {
        width: 100%;
        border-radius: 5px;
        font-size: 1.8rem;
        text-align: start;
        padding: 10px 3%;
        color: #{$dark};

        &:focus {
          outline-color: #{$blue};
        }
      }

      textarea {
        width: 100%;
        border-radius: 5px;
        font-size: 1.8rem;
        text-align: start;
        padding: 10px 3%;
        font-family: "Roboto", sans-serif;
        color: #{$dark};

        &:focus {
          outline-color: #{$blue};
        }
      }
    }
    .profile-pic-button {
      border-radius: 50%;
      padding: 100px 80px;
      border: none;
      cursor: pointer;
    }

    // .update-profile-form {
    //   background-color: white;
    //   width: 70%;
    //   border-radius: 30px;
    //   display: flex;
    //   flex-direction: row;
    //   padding: 16px 2%;
    //   margin: 80px 0 20px 0;

    //   .edit-profile-info {
    //     width: 50%;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: flex-start;
    //     border-right: 2px solid #{$background};

    //     input {
    //       background-color: #{$background};
    //       width: 90%;
    //       text-align: start;
    //       padding: 3px 3%;
    //       border-radius: 7px;
    //       font-size: 1.8rem;

    //       &:focus {
    //         background-color: #{$blue};
    //         color: white;
    //       }
    //     }
    //   }

    //   // .edit-company-info {
    //   //   width: 50%;
    //   //   display: flex;
    //   //   flex-direction: column;
    //   //   align-items: flex-start;
    //   //   padding-left: 2%;

    //   //   input {
    //   //     background-color: #{$background};
    //   //     width: 100%;
    //   //     text-align: start;
    //   //     padding: 3px 3%;
    //   //     border-radius: 7px;
    //   //     font-size: 3rem;

    //   //     &:focus {
    //   //       background-color: #{$blue};
    //   //       color: white;
    //   //     }
    //   //   }

    //   //   textarea {
    //   //     background-color: #{$background};
    //   //     width: 100%;
    //   //     text-align: start;
    //   //     border-radius: 7px;
    //   //     font-size: 1.8rem;
    //   //     color: #{$dark};

    //   //     &:focus {
    //   //       background-color: #{$blue};
    //   //       color: white;
    //   //     }
    //   //   }

    //   //   .btns-save-cancel {
    //   //     display: flex;
    //   //     width: 100%;
    //   //     justify-content: space-around;

    //   //     .edit-btn {
    //   //       margin: 90px 0 0 0;
    //   //       border-radius: 10px;
    //   //       border: none;
    //   //       color: white;
    //   //       font-size: 1.8rem;
    //   //       cursor: pointer;
    //   //     }
    //   //     .save {
    //   //       background-color: #{$auth-submit-bg};
    //   //       width: 40%;
    //   //     }

    //   //     .cancel {
    //   //       background-color: #{$Navbar};
    //   //       width: 40%;
    //   //     }
    //   //   }
    //   // }

    //   label {
    //     padding: 15px 0 5px 3%;
    //     font-weight: bold;
    //     font-size: 2rem;
    //     width: 100%;
    //     text-align: left;
    //   }
    // }
  }

  .edit-btn {
    margin: 5px 0;
    padding: 10px 5rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .edit {
    background-color: #{$blue};
  }

  .menu-pass-bill {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 2rem;
    padding: 0 1%;

    a {
      color: #{$blue};
      width: 20rem;
      text-align: end;
    }
  }
}
