.profile-container {
  width: 100%;
  background-color: #{$background};
  padding-bottom: 40px;

  .companyInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    .pic-account {
      border-bottom: 2px solid #{$blue};
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .pic-account h2 {
      font-size: 3rem;
      margin: 20px 0;
    }

    .avatar {
      border-radius: 50%;
    }

    .all-company-info {
      background-color: white;
      width: 70%;
      border-radius: 30px;
      display: flex;
      flex-direction: row;
      padding: 16px 2%;
      margin: 80px 0 20px 0;

      .company-text {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-right: 2px solid #{$background};
      }

      .company-text p {
        background-color: #{$background};
        width: 90%;
        border-radius: 7px;
        font-size: 2rem;
        text-align: start;
        padding: 3px 3%;
      }

      label {
        padding: 15px 0 5px 3%;
        font-weight: bold;
        font-size: 2rem;
        width: 100%;
        text-align: left;
      }

      .summary-btns {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2%;
      }
      .summary-btns p {
        background-color: #{$background};
        width: 100%;
        text-align: start;
        padding: 3px 3%;
        border-radius: 7px;
        font-size: 2rem;
      }
    }

    .update-profile-form {
      display: flex;
      flex-direction: column;
    }

    .editHeader {
      border-bottom: 2px solid #{$blue};
      width: 30%;
    }

    .profile-pic-button {
      border-radius: 50%;
      padding: 100px 80px;
      border: none;
      cursor: pointer;
    }

    .update-profile-form {
      background-color: white;
      width: 70%;
      border-radius: 30px;
      display: flex;
      flex-direction: row;
      padding: 16px 2%;
      margin: 80px 0 20px 0;

      .edit-profile-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-right: 2px solid #{$background};

        input {
          background-color: #{$background};
          width: 90%;
          text-align: start;
          padding: 3px 3%;
          border-radius: 7px;
          font-size: 2rem;

          &:focus {
            background-color: #{$blue};
            color: white;
          }
        }
      }

      .edit-company-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2%;

        input {
          background-color: #{$background};
          width: 100%;
          text-align: start;
          padding: 3px 3%;
          border-radius: 7px;
          font-size: 2rem;

          &:focus {
            background-color: #{$blue};
            color: white;
          }
        }

        textarea {
          background-color: #{$background};
          width: 100%;
          text-align: start;
          padding: 3px 3%;
          border-radius: 7px;
          font-size: 2rem;

          &:focus {
            background-color: #{$blue};
            color: white;
          }
        }

        .btns-save-cancel {
          display: flex;
          width: 100%;
          justify-content: space-around;

          .edit-btn {
            margin: 90px 0 0 0;
            border-radius: 10px;
            border: none;
            color: white;
            font-size: 1.6rem;
            cursor: pointer;
          }
          .save {
            background-color: #{$auth-submit-bg};
            width: 40%;
          }

          .cancel {
            background-color: #{$Navbar};
            width: 40%;
          }
        }
      }

      label {
        padding: 15px 0 5px 3%;
        font-weight: bold;
        font-size: 2rem;
        width: 100%;
        text-align: left;
      }
    }
  }

  .edit-btn {
    margin: 5px 0;
    padding: 10px 2%;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .edit {
    background-color: #{$blue};
    display: flex;
    margin-right: 50%;
  }

  .links-pass-bill {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2rem;
    padding: 20px 0;

    a {
      color: #{$blue};
    }
  }

  .menu-pass-bill {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 2rem;
    padding: 20px 0;

    a {
      color: #{$blue};
      width: 20%;
      text-align: end;
    }
  }
}
