.post-job-container {
  color: black;
  height: auto;

  .post-job-header {
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #{$dark};

    .main-header {
      font-size: 5rem;
    }

    hr {
      border: 0;
      height: 3px;
      width: 30%;
      margin: 20px auto;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(76, 103, 161, 0.75),
        rgba(0, 0, 0, 0)
      );
    }

    .sub-header {
      font-size: 3rem;
    }
  }

  .job-form {
    margin: 40px 5% 40px;
    padding: 2%;
    background-color: #{$white};
    border-radius: 50px;

    .post-job-top {
      display: flex;

      .input-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
          width: 48%;
          background-color: #{$background};
          font-size: 1.8rem;
          margin-bottom: 50px;
          padding: 10px 0 10px 10px;
          border: none;
          border-radius: 5px;

          &::placeholder {
            color: #{$dark};
          }

          @include phone {
            margin-bottom: 20px;
          }
        }

        label {
          font-size: 2rem;
        }

        .input-titles {
          color: black;
          margin-bottom: 5px;
        }

        .top {
          display: flex;
          justify-content: space-between;

          @include phone {
            display: block;
          }

          .title-and-input {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 48%;

            @include phone {
              width: 100%;
            }

            @include phone {
            }

            input {
              width: 100%;
            }
          }
        }

        .bottom {
          display: flex;
          flex-direction: column;

          .title-and-input {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }

          input {
            width: 100%;
          }

          textarea {
            background-color: #{$background};
            width: 100%;
            height: 300px;
            border-radius: 3px;
            margin-bottom: 50px;
            padding: 10px 0 10px 10px;
            text-align: top;
            line-height: 2.5rem;
            font-size: 1.8rem;
            font-family: sans-serif;
            resize: none;
            border: none;

            &::placeholder {
              color: #{$dark};
            }

            @include phone {
              margin-bottom: 20px;
            }
          }
        }
      }
    }

    .post-job-bottom {
      font-size: 2rem;
      width: 100%;

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h5 {
          margin-left: 3%;
        }

        .job-active {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40%;
        }

        .requires-degree {
          display: flex;
          align-items: center;
          width: 40%;

          .degree-checkbox {
            width: 20px;
            height: 20px;
          }
        }

        .categories {
          width: 20%;
          display: flex;
          justify-content: start;

          select {
            background-color: #{$background};
            width: 80%;
            height: 30px;
            font-size: 1.5rem;

            // option {
            //   :hover {
            //     background-color: #{$blue};
            //   }
            // }
          }
        }
      }

      .bottom {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;

        .post-job-buttons-container {
          display: flex;
          justify-content: space-evenly;
          width: 100%;

          #cancel-button {
            background-color: #{$orange};
          }

          #save-button {
            background-color: #{$blue};
          }

          .post-job-buttons {
            display: inline-block;
            padding: 10px 5rem;
            border: none;
            border-radius: 5px;
            color: white;
            text-align: center;
            transition: all 0.3s;
            font-size: 2rem;

            &:hover {
              color: white;
              background-color: black;
              cursor: pointer;
            }
          }
        }
      }

      /* ==========VVV ROUNDED SLIDER VVV========== */
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(95, 95, 95);
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider {
        background-color: #{$orange};
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #{$orange};
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
      /* ==========^^^ ROUNDED SLIDER ^^^========== */
    }
  }
}

/* ==========TEMPORARY BORDERS========== */

/* .job-form {
  border: 0.1px solid blue;
}

.title-container {
  border: 0.1px solid red;
}

.title-container .input-titles {
  border: 0.1px solid yellow;
}

.input-container {
  border: 0.1px solid pink;
}

.input-container input {
  border: 0.1px solid green;
} */

/* .post-job-bottom {
  border: 1px solid red;
}

.job-active {
  border: 1px solid blue;
}

.requires-degree {
  border: 1px solid pink;
}

.post-job-buttons-container {
  border: 1px solid green;
} */
