.job-form {
  color: green;
  margin-top: 20px;
  padding: 0 2% 0 2%;
  border: 1px solid blue;
}

.top {
  display: flex;
}

.title-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 25%;
  border: 1px solid red;
}

.title-container .input-titles {
  color: blue;
  font-size: 2.5rem;
  margin-top: 36px;
  border: 1px solid yellow;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  border: 1px solid pink;
}

.input-container input {
  width: 100%;
  font-size: 1.8rem;
  justify-content: start;
  margin-bottom: 20px;
  padding: 10px 0 10px 10px;
  border: 1px solid green;
}

.input-container textarea {
  width: 80%;
  height: 30vh;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 10px 0 10px 10px;
  text-align: top;
  line-height: 15px;
  font-size: 1.8rem;
  font-family: sans-serif;
  resize: none;
}

/* ==========HEIGHT SPACING FOR EACH TITLE========== */
