.post-job-container {
  color: black;
  height: auto;
  width: 100%;
  max-width: 1024px;
  margin: auto;

  .post-job-header {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #{$dark};

    .main-header {
      font-size: 5rem;

      @include phone {
        font-size: 4rem;
      }
    }

    hr {
      width: 50rem;
      height: 4px;
      background: #{$auth-divider};
      border: none;
      margin: 15px auto;

      @include tablet {
        width: 90%;
      }
    }

    .sub-header {
      font-size: 2.8rem;

      @include phone {
        font-size: 2rem;
      }
    }
  }

  .job-form {
    margin: 40px 5%;
    padding: 40px;
    background-color: #{$white};
    border-radius: 20px;

    @include phone {
      padding: 20px;
    }

    .post-job-top {
      display: flex;

      .input-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
          width: 48%;
          background-color: #{$background};
          font-size: 1.8rem;
          margin-bottom: 30px;
          padding: 10px;
          border: none;
          border-radius: 5px;
          color: #{$dark};

          &:focus {
            outline-color: #{$blue};
          }

          &::placeholder {
            color: #{$light-gray};
          }
        }

        label {
          font-size: 2rem;
        }

        .input-titles {
          color: #{$dark};
          margin-bottom: 7px;
        }

        .top {
          display: flex;
          justify-content: space-between;

          @include phone {
            display: block;
          }

          .title-and-input {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 48%;

            @include phone {
              width: 100%;
            }

            input {
              width: 100%;
            }
          }
        }

        .bottom {
          display: flex;
          flex-direction: column;

          .title-and-input {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }

          input {
            width: 100%;
          }

          textarea {
            background-color: #{$background};
            width: 100%;
            height: 300px;
            border-radius: 5px;
            margin-bottom: 30px;
            padding: 10px;
            text-align: top;
            line-height: 2.5rem;
            font-size: 1.8rem;
            font-family: sans-serif;
            resize: none;
            border: none;
            color: #{$dark};

            &:focus {
              outline-color: #{$blue};
            }

            &::placeholder {
              color: #{$light-gray};
            }

            @include phone {
              margin-bottom: 30px;
            }
          }
        }
      }
    }

    .post-job-bottom {
      font-size: 1.8rem;
      width: 100%;

      .top {
        display: flex;
        align-items: center;
        justify-content: space-around;

        @include tablet {
          display: flex;
          flex-wrap: wrap;
        }

        h5 {
          margin-left: 3%;
        }

        .job-active {
          display: flex;
          align-items: center;
          width: 20%;

          @include tablet {
            width: 100%;
            margin-bottom: 20px;
          }

          @include phone {
            width: 100%;
            margin-bottom: 20px;
          }
        }

        .requires-degree {
          display: flex;
          align-items: center;
          width: 45%;

          @include tablet {
            width: 100%;
            margin-bottom: 20px;
          }

          @include phone {
            width: 100%;
            margin-bottom: 20px;
          }

          .degree-checkbox {
            width: 20px;
            height: 20px;
          }
        }

        .categories {
          width: 35%;
          display: flex;
          justify-content: flex-start;

          @include tablet {
            width: 100%;
            justify-content: flex-start;
          }

          select {
            background-color: #{$background};
            width: 100%;
            height: 30px;
            font-size: 1.8rem;
            border: none;
            border-radius: 5px;

            @include tablet {
              width: 30rem;
            }

            // option:checked {
            //   background-color: #{$blue};
            // }
          }
        }
      }

      .bottom {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;

        .post-job-buttons-container {
          display: flex;
          justify-content: space-evenly;
          width: 100%;

          #cancel-button {
            background-color: #{$blue};
            transition: all 0.4s ease;

            &:hover {
              background: $dark-blue;
              transition: all 0.4s ease;
            }
          }

          #save-button {
            background-color: #{$orange};
            transition: all 0.4s ease;

            &:hover {
              background: $dark-orange;
              transition: all 0.4s ease;
            }
          }

          .post-job-buttons {
            display: inline-block;
            padding: 10px 5rem;
            border: none;
            border-radius: 5px;
            color: white;
            text-align: center;
            transition: all 0.3s;
            font-size: 1.8rem;

            &:hover {
              color: white;
              background-color: black;
              cursor: pointer;
            }
          }
        }
      }

      /* ==========VVV ROUNDED SLIDER VVV========== */
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(95, 95, 95);
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider {
        background-color: #{$orange};
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #{$orange};
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
      /* ==========^^^ ROUNDED SLIDER ^^^========== */
    }
  }
}

/* ==========TEMPORARY BORDERS========== */

/* .job-form {
  border: 0.1px solid blue;
}

.title-container {
  border: 0.1px solid red;
}

.title-container .input-titles {
  border: 0.1px solid yellow;
}

.input-container {
  border: 0.1px solid pink;
}

.input-container input {
  border: 0.1px solid green;
} */

/* .post-job-bottom {
  border: 1px solid red;
}

.job-active {
  border: 1px solid blue;
}

.requires-degree {
  border: 1px solid pink;
}

.post-job-buttons-container {
  border: 1px solid green;
} */
