.post-job-container {
  .post-job-header {
    font-size: 5rem;
    text-align: center;
    margin: 15px 0 0 0;
    padding: 0 5% 0 5%;
    color: #{$dark};
  }

  hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(76, 103, 161, 0.75),
      rgba(0, 0, 0, 0)
    );
  }

  .job-form {
    margin: 40px 5% 0;
    padding: 5%;
    background-color: #{$white};
    border-radius: 100px;

    .post-job-top {
      display: flex;

      .input-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include tablet {
          width: 75%;
        }
        @include phone {
          width: 70%;
        }

        input {
          width: 48%;
          background-color: #{$background};
          font-size: 1.8rem;
          margin-bottom: 50px;
          padding: 10px 0 10px 10px;
          border: none;
          border-radius: 5px;

          &::placeholder {
            color: #{$dark};
          }

          @include tablet {
            font-size: 1.6rem;
          }
          @include phone {
            font-size: 1.5rem;
          }
        }

        .top {
          display: flex;
          justify-content: space-between;
        }

        .middle {
          display: flex;
          flex-direction: column;

          input {
            width: 100%;
          }
        }

        .bottom {
          display: flex;
          justify-content: space-between;
        }

        textarea {
          background-color: #{$background};
          width: 48%;
          height: 280px;
          border-radius: 3px;
          margin-bottom: 50px;
          padding: 10px 0 10px 10px;
          text-align: top;
          line-height: 15px;
          font-size: 1.8rem;
          font-family: sans-serif;
          resize: none;
          border: none;

          &::placeholder {
            color: #{$dark};
          }

          @include tablet {
            font-size: 1.6rem;
          }
          @include phone {
            font-size: 1.5rem;
          }
        }
      }
    }

    .post-job-bottom {
      font-size: 1.6rem;
      margin-bottom: 30px;
      width: 100%;

      @include phone {
        display: flex;
        flex-wrap: wrap;
      }

      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h5 {
          margin-left: 3%;
        }

        .job-active {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 33%;

          @include phone {
            width: 50%;
          }
        }

        .requires-degree {
          display: flex;
          align-items: center;
          width: 33%;

          @include phone {
            width: 50%;
          }

          .degree-checkbox {
            width: 20px;
            height: 20px;

            @include tablet {
              width: 20px;
              height: 20px;
            }
          }
        }

        .bottom {
          display: flex;
          justify-content: space-around;

          .post-job-buttons-container {
            display: flex;
            justify-content: center;
            width: 33%;

            @include phone {
              justify-content: space-evenly;
              width: 100%;
            }

            .post-job-buttons {
              display: inline-block;
              padding: 0.35rem 1.2rem;
              border: 0.1em solid black;
              margin: 0 10% 0 10%;
              border-radius: 0.12rem;
              background-color: rgb(95, 95, 95);
              color: white;
              text-align: center;
              transition: all 0.3s;
              font-size: 2rem;

              @include tablet {
                font-size: 1.8rem;
              }
              @include phone {
                padding: 1rem 2.5rem;
                margin: 5% 0;
                border-radius: 0.12rem;
                font-size: 2rem;
              }

              &:hover {
                color: white;
                background-color: black;
                border: 0.1em solid white;
                cursor: pointer;
              }
            }
          }
        }

        /* ==========VVV ROUNDED SLIDER VVV========== */
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgb(95, 95, 95);
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background-color: #{$orange};
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #{$orange};
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
        /* ==========^^^ ROUNDED SLIDER ^^^========== */
      }
    }
  }
}

/* ==========TEMPORARY BORDERS========== */

/* .job-form {
  border: 0.1px solid blue;
}

.title-container {
  border: 0.1px solid red;
}

.title-container .input-titles {
  border: 0.1px solid yellow;
}

.input-container {
  border: 0.1px solid pink;
}

.input-container input {
  border: 0.1px solid green;
} */

/* .post-job-bottom {
  border: 1px solid red;
}

.job-active {
  border: 1px solid blue;
}

.requires-degree {
  border: 1px solid pink;
}

.post-job-buttons-container {
  border: 1px solid green;
} */
