.post-job-title {
  font-size: 5rem;
  text-align: left;
  margin: 15px 0 0 0;
  padding: 0 5% 0 5%;
}

hr {
  border: 0;
  margin: 0 0 30px 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(232, 47, 58, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* .job-form {
  border: 0.1px solid blue;
}

.title-container {
  border: 0.1px solid red;
}

.title-container .input-titles {
  border: 0.1px solid yellow;
}

.input-container {
  border: 0.1px solid pink;
}

.input-container input {
  border: 0.1px solid green;
} */

.job-form {
  margin-top: 40px;
  padding: 0 5% 0 5%;
}

.post-job-top {
  display: flex;
}

.title-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 20%;
}

@media (max-width: 1000px) {
  .title-container {
    width: 25%;
  }
}

@media (max-width: 780px) {
  .title-container {
    width: 30%;
  }
}

.title-container .input-titles {
  color: black;
  font-size: 2.5rem;
  margin-top: 70px;
}

@media (max-width: 1000px) {
  .title-container .input-titles {
    font-size: 2rem;
    margin-top: 73px;
  }
}

@media (max-width: 780px) {
  .title-container .input-titles {
    font-size: 1.95rem;
    margin-top: 73.5px;
  }
}

#job-title-input-title {
  margin-top: 0;
}

#requirements-input-title {
  margin-top: 303px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

@media (max-width: 1000px) {
  .input-container {
    width: 75%;
  }
}

@media (max-width: 780px) {
  .input-container {
    width: 70%;
  }
}

.input-container input {
  width: 100%;
  font-size: 1.8rem;
  justify-content: start;
  margin-bottom: 50px;
  padding: 10px 0 10px 10px;
}

@media (max-width: 1000px) {
  .input-container input {
    font-size: 1.6rem;
  }
}

@media (max-width: 780px) {
  .input-container input {
    font-size: 1.5rem;
  }
}

.input-container textarea {
  width: 100%;
  height: 280px;
  border-radius: 3px;
  margin-bottom: 50px;
  padding: 10px 0 10px 10px;
  text-align: top;
  line-height: 15px;
  font-size: 1.8rem;
  font-family: sans-serif;
  resize: none;
}

@media (max-width: 1000px) {
  .input-container textarea {
    font-size: 1.6rem;
  }
}

@media (max-width: 780px) {
  .input-container textarea {
    font-size: 1.5rem;
  }
}

/* @media (max-width: 1000px) {

}

@media (max-width: 780px) {

} */

/* ==========BOTTOM OF FORM========== */

.post-job-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-bottom: 30px;
  width: 100%;
}

@media (max-width: 780px) {
  .post-job-bottom {
    display: flex;
    flex-wrap: wrap;
  }
}

.post-job-bottom h5 {
  margin-left: 3%;
}

.job-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

@media (max-width: 780px) {
  .job-active {
    width: 50%;
  }
}

.requires-degree {
  display: flex;
  align-items: center;
  width: 33%;
}

@media (max-width: 780px) {
  .requires-degree {
    width: 50%;
  }
}

.requires-degree .degree-checkbox {
  width: 20px;
  height: 20px;
}

@media (max-width: 1000px) {
  .requires-degree .degree-checkbox {
    width: 20px;
    height: 20px;
  }
}

.post-job-buttons-container {
  display: flex;
  justify-content: center;
  width: 33%;
}

@media (max-width: 780px) {
  .post-job-buttons-container {
    justify-content: space-evenly;
    width: 100%;
  }
}

/* .post-job-bottom {
  border: 1px solid red;
}

.job-active {
  border: 1px solid blue;
}

.requires-degree {
  border: 1px solid pink;
}

.post-job-buttons-container {
  border: 1px solid green;
} */

.post-job-buttons {
  display: inline-block;
  padding: 0.35rem 1.2rem;
  border: 0.1em solid black;
  margin: 0 10% 0 10%;
  border-radius: 0.12rem;
  background-color: rgb(95, 95, 95);
  color: white;
  text-align: center;
  transition: all 0.3s;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .post-job-buttons {
    font-size: 1.8rem;
  }
}

@media (max-width: 780px) {
  .post-job-buttons {
    padding: 1rem 2.5rem;
    margin: 5% 0;
    border-radius: 0.12rem;
    font-size: 2rem;
  }
}

.post-job-buttons:hover {
  color: white;
  background-color: black;
  border: 0.1em solid white;
  cursor: pointer;
}

/* ==========ROUNDED SLIDER========== */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(95, 95, 95);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
