.App {
  text-align: center;
  background-color: #f4f5f7;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 2.6rem;
  line-height: 1.4;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  background-color: #d3d3d3;
}

.routes {
  margin-top: 70px;
}
