.reset-password-modal {
    height: 100vh;
    width: 100vw;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-password {
    width: 100%;
    margin: 0 auto;
}

.reset-container {
    width: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.reset-container .reset-header {
    width: 100%;
    height: 100px;
    background: url('../../images/reset-header.jpeg');
    background-position: 0 -200px;
}

.reset-container .reset-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.reset-container .reset-form {
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(158, 158, 158);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    margin-bottom: 10px;
}

.reset-container .reset-form .reset-form-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(158, 158, 158);
    padding: 10px;
    margin: 10px 0;
    outline-color: rgb(158, 158, 158);
}

.reset-container .reset-form .reset-form-button {
    width: 100%;
    border: 1px solid #9e9e9e;
    padding: 10px;
    margin: 10px 0;
    outline-color: rgb(158, 158, 158);
    font-size: 1.4rem;
    transition: all 0.5s ease;
}

.reset-container .reset-form .not-disabled:hover {
    cursor: pointer;
    color: #E03E49;
    border: 1px solid #E03E49;
    transition: all 0.5s ease;
}

.reset-container .reset-form .reset-form-input::placeholder {
    color: rgb(158, 158, 158);
    font-size: 1.4rem;
}