// reset password specific styles
// main styles in auth-styles.scss

.reset-view {
  background: url("./images/design/jpg/auth-background-3.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0px 0px;
  justify-content: center;

  .reset-footer {
    justify-content: center;
  }
}
